@charset "utf-8";

header {
  background-color:#fff;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  width: 1100px;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header i {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #777;
}

.contact-btn {
  color: #fff;
  background-color: #6ba7eb;
  text-decoration: none;
  padding: 10px 20px;
  margin: 15px 0;
  transition: color 0.3s ease;
}

.contact-btn:hover {
  color: #333;
}

.hamburger-menu {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: none;
}

.hamburger-line {
  width: 100%;
  height: 5px;
  background-color: #777;
  margin: 8px 0;
}


.keyvisual {
  background-image: url(../images/keyvisual/keyvisual.jpg);
  background-size: cover;
  opacity: 0.7;
  height: 100%;
}

.title-wrapper {
  padding-top: 400px;
  padding-bottom: 400px;
}

.keyvisual h1{
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  text-align: center;
}

.keyvisual p{
  margin-top: 30px;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.news {
  background-color: #e3f2ed;
}

.news-contents {
  display: flex;
  padding-top: 50px;
}

.news-contents-wrapper {
  text-align: center;
  padding-left: 150px;
}

.news img {
  width: 250px;
}

h2 {
  font-size: 40px;
  letter-spacing: 10px;
  padding-top: 20px;
  padding-bottom: 35px;
  text-align: center;
}

.news p {
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
}

.skills {
  margin-top: 30px;
  margin-bottom: 50px;
  background-color: #fff;
}

.skills-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 100px;
}

.skills-contents img {
  height: 300px;
  width: 300px;
  opacity: 0.7;
}

.skills-contents img:hover {
  opacity: 1.0;
}

.plan {
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #d0dfea;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  font-size: 16px;
  line-height: 26px;
  background-color: #6ba7eb;
  padding: 10px;
  border-left: 2px solid #fff;
  text-align: center;
}

th:first-child {
  border-left: none;
}

td {
  font-size: 16px;
  line-height: 26px;
  padding: 10px;
  text-align: center;
  border-left: 2px solid #fff;
}

td:first-child {
  border-left: none;
  font-weight: bold;
}

tr:nth-child(odd) td {
  background-color: #f9f9f9;
}

tr:nth-child(even) td {
  background-color: #e0efff;
}

.sns {
  background-color: #e3f2fd;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.sns i {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 185px;
  color: #8c8c8c;
  overflow: hidden;
  font-size: 40px;
  transition: background-color 0.5s ease;
}

.sns i:hover {
  background-color: #fff;
}

footer {
  background-color: #cfd8dc;
  padding-top: 25px;
  padding-bottom: 25px;
}

footer p {
  font-size: 13px;
  letter-spacing: 0.5px;
  text-align: right;
}

/*TAB版*/
@media (max-width: 1199px){
  .inner {
    width: 97%;
  }
  .title-wrapper {
    padding: 250px 0;
  }

  .title-wrapper h1{
    text-align: center;
  }
  .keyvisual p {
    text-align: center;
  }

  .inner.news-contents {
    padding: 50px 0;
    width: 100%;
  }

  .news-contents {
    display:block;
    text-align: center;
  }

  .news-contents-wrapper {
    box-sizing: border-box;
    padding: 0 50px;
  }

  .skills-contents {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
  
  .skills-contents img:nth-child(3n) {
    margin-bottom: 80px;
  }

  .inner {
    width: 97%;
  }

}

/*SP版*/
@media (max-width: 767px){
  .inner {
    width: 97%;
  }

  .contact-btn {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  .title-wrapper {
  padding: 200px;
}

.title-wrapper h1 {
  font-size: 40px;
  text-align: center;
}

.keyvisual p {
  font-size: 30px;
  text-align: center;
}

.th {
  font-size: 14px;
  line-height: 22px;
}

.td {
  font-size: 12px;
}

.sns {
  padding:50px 0;
  width: 100%;
}

.sns i {
  padding: 50px 15px;
  display: block;
  margin: 0 auto;
}

.table {
  width: 50%;
}

}